<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 ">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='/css/nav_style.css')}}">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/nav_style.css') }}" />

    <style>
        body {
            margin: 0px;
            padding: 0;
            height: 100%;
            background: linear-gradient(40deg, #f5f7fa, #c3cfe2);
            background-attachment: fixed;
            font-family: sans-serif;
            font-weight: normal;
            font-weight: bold;

        }
    </style>
</head>

<body>

    <div class="body">
        <nav class="navbar navbar-expand-md navbar-light bg-light navbarcustom">
            <a href="/"><img src="{{ url_for('static',filename='logo.png') }}" alt="logo" border="2"></a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="/workout" class="nav-item nav-link">Workout</a>
                    <a href="/diet" class="nav-item nav-link">Diet</a>
                    <a href="/covid" class="nav-item nav-link">Covid-19 Test</a>
                    <a href="#" class="nav-item nav-link disabled" tabindex="-1"></a>
                </div>

                <div class="navbar-nav ml-auto">
                    <div class="card">
                        <div class="card-header"><b>Strictly For Educational Purpose⚠️</b>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </nav>


    <center>

        <div class="container py-5">
            <header class="text-center">
                <h1 class="display-4">COVID-19 X-RAY TEST</h1>
                <p class="mb-5 font-weight-light">
                </p>

                <img src="https://img.icons8.com/carbon-copy/100/000000/protection-mask.png" alt="" width="180"
                    class="mb-4">
            </header>

            <div class="row py-4">
                <div class="col-lg-6 mx-auto">

                    <h4>
                        <p class="font-italic text-center">Please Upload The X-Ray Image Below</p>
                        <div class="image-area mt-4"><img id="imageResult" src="#" alt=""
                                class="img-fluid rounded shadow-sm mx-auto d-block"></div>
                        <form action="covid/upload-image" method="post" enctype="multipart/form-data">
                            <input type='file' name='image' id="actual-btn"
                                class="btn btn-light m-0 rounded-pill px-4" /></p>

                            <button type="submit" class="btn btn-primary btn-lg">Upload</button>
                        </form>

    </center>
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Alert!</h4>
        <p>Aww yeah, you successfully read this important alert message. This is a Machine learning prototype , it is
            under constant development , so please ignore the flaws.
        </p>
        <hr>
    </div>
    </div>

</body>
</head>

</html>