{% extends 'base.html' %}

{% block head %}
<title>Workout</title>
<style>
    .main {
        align-items: center;
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translate(-50%);
    }

    button {
        padding: 20px;
        margin: 10px;
        border-radius: 10px;
        font-size: 20px;
    }

</style>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">   
{% endblock %}
{% block body %}
<div class="main">
    <a href="/workout"><button>Workout</button></a>
    <a href="/diet"><button>Diet</button></a>
</div>


{% endblock %}